@model NgoDonationSystem.DTOs.Requests.CreateInventoryCategoryRequest

@{
    ViewData["Title"] = "Kategoriyi Düzenle";
}

<div class="row pt-4 px-4">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow border-0">
            <div class="card-header bg-warning text-dark py-3">
                <h2 class="text-dark py-2 m-0 text-center">@ViewData["Title"]</h2>
            </div>
            <div class="card-body p-4">
                <form asp-action="Edit" method="post">
                    <input type="hidden" name="id" value="@ViewBag.Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="mb-4">
                        <label asp-for="CategoryName" class="form-label fw-bold"></label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>

                    <div class="row pt-2 text-center text-md-start">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary form-control shadow-sm">Güncelle</button>
                        </div>
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-outline-secondary border form-control shadow-sm">Vazgeç</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
